aside.profile {
  padding-inline: var(--space-xs);

  & #profile-title {
    text-align: center;
  }

  & div.container {
    margin-inline: auto;
    justify-items: center;
    gap: var(--space-s);
    padding: var(--space-s);
  }

  & ul {
    display: flex;
    gap: var(--space-s);
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

    &::before {
      content: "";
      width: 439px;
      height: 360px;
      background-image: url("https://res.cloudinary.com/greypse/image/upload/v1651770719/Vector_9_opy3hn.svg");
      position: absolute;
      inset-block-start: -6em;
      z-index: -1;
      background-repeat: no-repeat;
      opacity: 0.3;
    }
  }

  & li span:first-child {
    font-weight: 500;
  }
}

@media (min-width: 1000px) {
  aside.profile {
    @media (hover: hover) {
      position: fixed;
      inset-inline-end: 0;
      inset-block-end: 1em;
      transform: translateX(calc(100% - 3em));
      transition: transform 300ms;
      z-index: 2;
      padding: 0;

      & div.container {
        margin: 0;
        padding: 0;
        grid-template-columns: 2em 1fr;
        position: relative;
        background-color: var(--purple-dark);
        border: 1px solid var(--grey-light);

        & > a {
          grid-column: 2;
          position: absolute;
          inset-block-end: 1em;
        }
      }

      & ul {
        flex-direction: column;
        align-self: start;
        padding: var(--space-s);

        &::before {
          content: "";
          background: none;
        }
      }

      &:hover,
      &:focus-within {
        transform: translateX(0%);
      }

      & #profile-title {
        writing-mode: vertical-lr;
        border-right: 1px solid var(--grey-dark);
        padding-inline: 0.5em;
        padding-block: 1em;
      }
    }
  }
}
