
aside.profile {
  padding-inline: var(--space-xs);

  & div.container {
    display: grid;
    margin-inline: auto;
    width: fit-content;
    justify-items: center;
    gap: var(--space-m);
    border: 1px solid var(--grey-dark);
    padding: var(--space-s);
  }

  & ul {
    display: flex;
    gap: var(--space-s);
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 1000px) {
  aside.profile {
    position: fixed;
    inset-inline-end: 0;
    inset-block-end: 1em;
    transform: translateX(calc(100% - 3em));
    transition: transform 300ms;
    transition-delay: 200ms;
    z-index: 2;
    padding: 0;

    & div.container {
      margin: 0;
      padding: 0;
      grid-template-columns: 2em 1fr;
      position: relative;
      background-color: var(--purple-dark);

      & > a {
        grid-column: 2;
        position: absolute;
        inset-block-end: 1em;
      }
    }

    & ul {
      flex-direction: column;
      align-self: start;
      padding: var(--space-s);
    }

    &:hover,
    &:focus-within,
    &:active {
      transform: translateX(0%);
    }

    & #profile-title {
      writing-mode: vertical-lr;
      border-right: 1px solid var(--grey-dark);
      padding-inline: .5em;
      padding-block: 1em;
    }
  }
}
