header div.container {
  width: min(100vw - 2rem, 100ch);
  margin-inline: auto;
  padding-block-start: var(--space-l);
  margin-block: 0;
  padding-inline: var(--space-2xs);

  &::before {
    content: '';
    width: 100%;
    height: 650px;
    background-image: url('https://res.cloudinary.com/greypse/image/upload/v1651772773/two-188_onfefx.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    opacity: .5;
    z-index: -1;
  }
}