#about h2,
#guidelines h2,
#contribute h2,
#contribute h3 {
  position: relative;
  pointer-events: none;
}

@media (min-width: 1200px) {
  /* sun */
  #about section.container:first-child h2::before {
    content: '';
    display: block;
    position: absolute;
    pointer-events: all;
    inset-inline-end: -30%;
    inset-block-start: -15%;
    width: 341px;
    height: 342px;
    background-image: url('https://res.cloudinary.com/greypse/image/upload/v1651612170/Vector_5_zxfzhw.svg');
    transition: transform 300ms ease-out;
  }

  #about section.container:first-child h2:hover::before {
    transform: rotate(-20deg);
  }

  /* cloud */
  #about section.container:nth-child(2) h2::before {
    content: '';
    display: block;
    position: absolute;
    pointer-events: all;
    inset-inline-start: -40%;
    inset-block-start: -5%;
    transform: rotate(-30deg);
    width: 330px;
    height: 208px;
    background-image: url('https://res.cloudinary.com/greypse/image/upload/v1651539512/Group_szxjrx.svg');
    transition: transform 300ms ease;
  }

  #about section.container:nth-child(2) h2:hover::before {
    transform: rotate(-5deg);
  }

  /* smile */
  #guidelines h2::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: all;
    inset-inline-end: -30%;
    inset-block-end: -30%;
    background-image: url('https://res.cloudinary.com/greypse/image/upload/v1651539825/Vector_1_mtnnek.svg');
    width: 317px;
    height: 241px;
    transition: transform 300ms ease;
  }

  #guidelines h2:hover::after {
    transform: skew(-5deg);
  }

  /* flower */
  #contribute h2::before {
    content: '';
    display: block;
    position: absolute;
    pointer-events: all;
    inset-inline-start: -30%;
    inset-block-end: 0;
    width: 224px;
    height: 341px;
    background-image: url('https://res.cloudinary.com/greypse/image/upload/v1651540243/Vector_2_lg3eb6.svg');
    transition: transform 300ms ease;
  }

  #contribute h2:hover::before {
    transform: scale(1.1);
  }

  /* star */
  #contribute section.container h3::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: all;
    inset-inline-end: -20%;
    inset-block-end: -35%;
    background-image: url('https://res.cloudinary.com/greypse/image/upload/v1651543208/Vector_3_gff8qw.svg');
    width: 312px;
    height: 248px;
    transition: transform 300ms ease;
  }

  #contribute section.container h3:first-child:hover::after {
    transform: translate(1em, -1em) scale(1.01);
  }
}

@media (prefers-reduced-motion) {
  #about section.container:first-child h2:hover::before,
  #guidelines h2:hover::after,
  #contribute h2:hover::before,
  #contribute section.container h3:first-child:hover::after {
    transform: none;
  }

  #about section.container:nth-child(2) h2:hover::before {
    transform: rotate(-30deg);
  }
}