section.container {
  max-width: 65ch;
  margin-inline: auto;
  padding-inline: var(--space-2xs);
}

div.container,
section.container {
  display: grid;
  margin-block-start: var(--space-l);
  grid-gap: var(--space-s);
}

#files, #styles, .profile {
  margin-block-start: var(--space-2xl);
}